body {
  margin: 0 auto;
  padding-left: 0;
  font-family: sans-serif;
  background-color: rgb(58, 92, 165);
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  background-image: url("./images/swpi-bg.jpg");
  color: white;
}
